.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
}

.content-with-sidebar {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}
