<div class="app-container">
  <app-toolbar></app-toolbar>

  <div class="content-wrapper" *ngIf="isLoggedIn()">
    <div class="content-with-sidebar">
      <!-- Sidebar if logged in-->
      <div>
        <app-sidebar></app-sidebar>
      </div>

      <!-- Main Content -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Login  or register component if not logged in -->
  <div class="login-wrapper" *ngIf="!isLoggedIn()">
    <router-outlet></router-outlet>
  </div>
</div>
