.donation-page-container {
  display: flex;
  justify-content: space-between;
}

.new-donation-container {
  flex: 0 0 65%;
  padding: 1rem;
  margin-top: 1rem;
  font-family: Arial, sans-serif; /* Aplicando Arial como fonte para todo o container */
}

.new-donation-container h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.new-donation-container label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.new-donation-container input,
.new-donation-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.new-donation-container button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.new-donation-container button:hover {
  background-color: #218838;
}

@media screen and (max-width: 768px) {
  .donation-page-container {
    flex-direction: column;
  }

  .point-rules {
    display: none;
  }
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
